/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Futura, Times, serif;
    background-color: #FFFEF9; /* Light beige background */
    color: #2F2B26; /* Brown text color */
}

/* Header styles */
.header {
    text-align: center;
    padding: 20px;
    background-color: #FFFEF9; /* Light beige background */
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

/* Main styles */
.main {
    padding: 20px;
    margin: 20px;
}

.description {
    max-width: 60%; /* Adjust width as needed */
    margin: 0 auto; /* Center align */
    text-align: center; /* Center align text */
}

.description h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.description p {
    line-height: 1.6;
}

/* Gallery styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between items */
    justify-items: center; /* Center items horizontally */
}

.gallery-row {
    margin-bottom: 20px; /* Bottom margin for each row */
}

.gallery-item {
    overflow: hidden; /* Ensure images don't overflow */
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Footer styles */
.footer {
    padding: 20px;
    background-color: #FFFEF9; /* Light beige background */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.contact p {
    line-height: 1.6;
}
